.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  overflow: auto;
}

.register-card {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-grid {
  display: grid;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.form-item {
  flex: 1;
}

.submit-button {
  display: block;
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 300px; /* Limita el ancho del botón */
}
.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #555;
}

.mat-step-header {
  justify-content: center;
}

.button-row {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio superior */
}
