<div class="register-container">
  <mat-card class="register-card">
    <div class="icon-container">
      <img src="assets/ulibre.png" alt="Logo" class="register-logo" />
    </div>
    <mat-card-title class="title">Registro de Usuario</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
        <!-- Nombre Completo -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nombre Completo</mat-label>
          <input matInput placeholder="Ingresa tu nombre completo" formControlName="nombres" required />
        </mat-form-field>

        <!-- Correo Electrónico -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" placeholder="Ingresa tu correo" formControlName="correo" required />
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Crea una contraseña" formControlName="password" required />
        </mat-form-field>

        <!-- Número de Identificación -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Número de Identificación</mat-label>
          <input matInput placeholder="Número de identificación" formControlName="numeroIdentificacion" required />
        </mat-form-field>

        <!-- Teléfono -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Ingresa tu teléfono" formControlName="telefono" required />
        </mat-form-field>

        <!-- Dirección -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Ingresa tu dirección" formControlName="direccion" required />
        </mat-form-field>

        <!-- País -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>País</mat-label>
          <mat-select formControlName="pais" (selectionChange)="onPaisChange($event.value)" required>
            <mat-option *ngFor="let item of opcionesPaises" [value]="item.id">{{ item.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Departamento -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="departamento" (selectionChange)="onDepartamentoChange($event.value)" required>
            <mat-option *ngFor="let item of opcionesDepartamentos" [value]="item.id">{{ item.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Ciudad -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="ciudadResidencia" (selectionChange)="onCiudadChange($event.value)" required>
            <mat-option *ngFor="let item of opcionesCiudades" [value]="item.id">{{ item.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tipo de Identificación -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tipo de Identificación</mat-label>
          <mat-select formControlName="identificacion" required>
            <mat-option *ngFor="let item of opcionesIdentificacion" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Profesión -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Profesión</mat-label>
          <mat-select formControlName="profesion" required>
            <mat-option *ngFor="let item of opcionesProfesion" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tipo de Trabajo -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tipo de Trabajo</mat-label>
          <mat-select formControlName="tipoTrabajo" required>
            <mat-option *ngFor="let item of opcionesTipoTrabajo" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Estado Civil -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil" required>
            <mat-option *ngFor="let item of opcionesEstadoCivil" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Nivel Educativo -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nivel Educativo</mat-label>
          <mat-select formControlName="nivelEducativo" required>
            <mat-option *ngFor="let item of opcionesNivelEducativo" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Género -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Género</mat-label>
          <mat-select formControlName="genero" required>
            <mat-option *ngFor="let item of opcionesGenero" [value]="item.id">
              {{ item.valor }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Sede -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Sede</mat-label>
          <mat-select formControlName="sede" required>
            <mat-option *ngFor="let item of opcionesSedes" [value]="item.id">
              {{ item.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Ingresos -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Ingresos</mat-label>
          <input matInput type="number" placeholder="Ingresos mensuales" formControlName="ingresos" required />
        </mat-form-field>

        <!-- Egresos -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Egresos</mat-label>
          <input matInput type="number" placeholder="Egresos mensuales" formControlName="egresos" required />
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" type="submit">Registrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>