.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.login-card {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo */
  padding: 30px;
  border-radius: 20px; /* Bordes más redondeados */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
  background: #ffffff; /* Fondo blanco limpio */
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.options-container {
  margin-top: 10px;
  font-size: 14px;
}

.options-container .link {
  text-decoration: none;
  color: #007bff;
}

.options-container .link:hover {
  text-decoration: underline;
}

.register-container {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.register-link {
  margin-left: 5px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.mat-form-field.mat-focused .mat-form-field-outline {
  border-color: #0056b3; /* Resalta el borde del campo al enfocarse */
}
